*{
  box-sizing: border-box;
}
/*esta parte es de body y h2, se puede editar si se quiere cambiar algo*/
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #363636;
    color: #ffffff;
}

h2 {
    color: #ffffff;
}

/* Parte container, aqui puedes añadir estilos y editar cosas (recordar si se me olvida) */
.container {
    padding-bottom: 0;
    width: 100%;
    min-height: 180px;
    background-color: rgb(83, 83, 83);

    position: relative;
    text-align: center;
    padding: 30px 0;
    padding-bottom: 40px;
    margin-bottom: 0;
}


.container h1 {
    color: #e6e209;
    text-shadow: 2px 2px 4px black;
    margin-bottom: 10px;
}

.container p {
    font-size: 20px;
    color: #08a8cf;
    text-shadow: 2px 2px 4px black;
}
.container p2 {
    font-size: 15px;
    color: #08a8cf;
    text-shadow: 2px 2px 4px black;
}

.container img {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 75px;
    height: auto;
}





/* el footer lo hemos puesto porque es lo del copyright, se puede editar aqui abajo por lo que se necesite */
.footer {
    background-color: #222222;
    text-align: left;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer p {
    margin: 10px;
    padding-left: 20px;
    color: #f1ee09;
}

/* la presentacion es la barra amarilla de arriba(de que se ve en la web), se puede editar aqui abajo por lo que se necesite */


.Adv h2 {
    margin: 0;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    background-color: #c7c40e;
    text-align: center;
    position: fixed;
    width: 100%;
    nav-up: 0;
    left: 0;
    z-index: 1000;
}
